<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Short URL Generator</title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>

  <!-- Navbar -->
  <nav>
    <a href="/">Home</a>
    <% if (locals.loggedUser) { %>
      <a href="/dashboard">Dashboard</a>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </nav>
